<launch>

  <master auto="start"/>

  <node name="clhero_vel_interface" pkg="clhero_2dnav" type="clhero_vel_interface" output="screen" />

  <!-- Run the map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find clhero_2dnav)/maps/sala_pequena.yaml"/-->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find clhero_2dnav)/maps/sala_pequena.yaml"/-->

  <!--- Run AMCL -->
  <!--include file="$(find clhero_2dnav)/launch/my_amcl_diff.launch" /-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find clhero_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find clhero_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find clhero_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find clhero_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find clhero_2dnav)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
